<h2>Manage Transactions</h2>
<ul [ngClass] = "'transaction'">
  <li *ngFor="let transaction of transactions" >
    Id: {{transaction.idtransaction}} | Amount: {{transaction.amount}} | 
    Source: {{transaction.sourceAccount.user.lastname}}, {{transaction.sourceAccount.user.firstname}} |
    Target: {{transaction.targetAccount.user.lastname}}, {{transaction.targetAccount.user.firstname}} |
    <button (click)="approve(transaction.idtransaction)">Approve</button>
	  <button (click)="decline(transaction.idtransaction)">Decline</button>
  </li>
</ul>
